# Auto-detection of text files with LF normalization.
# This will handle all the file types not listed below.
*              text=auto

# Excluded Files
.gitattributes export-ignore
.gitignore     export-ignore

# Documents
*.adoc         text
*.bibtex       text diff=bibtex
*.csv          text
*.doc          diff=astextplain
*.docx         diff=astextplain
*.dot          diff=astextplain
*.md           text
*.mustache     text
*.pdf          diff=astextplain
*.rtf          diff=astextplain
*.tab          text
*.tex          text diff=tex
*.textile      text
*.tsv          text
*.sql          text

# Graphics
*.eps          binary
*.gif          binary
*.ico          binary
*.jpeg         binary
*.jpg          binary
*.png          binary
*.svg          text
*.tif          binary
*.tiff         binary

# C# & Visual Studio
*.cs           text diff=csharp
*.sln          text eol=crlf
*.csproj       text eol=crlf
*.dbproj       text eol=crlf
*.filters      text eol=crlf
*.fsproj       text eol=crlf
*.lsproj       text eol=crlf
*.modelproj    text eol=crlf
*.props        text eol=crlf
*.sqlproj      text eol=crlf
*.vbproj       text eol=crlf
*.vcproj       text eol=crlf
*.vcxitems     text eol=crlf
*.vcxproj      text eol=crlf
*.wixproj      text eol=crlf
*.wmaproj      text eol=crlf
*.xproj        text eol=crlf
