<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>lcov</Format>
          <UseSourceLink>true</UseSourceLink>
          <SingleHit>false</SingleHit>
          <SkipAutoProps>true</SkipAutoProps>
          <ExcludeByAttribute>CompilerGeneratedAttribute,ExcludeFromCodeCoverageAttribute,GeneratedCodeAttribute</ExcludeByAttribute>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <DeterministicReport>false</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <InProcDataCollectionRunSettings>
    <InProcDataCollectors>
      <InProcDataCollector
        friendlyName="XPlat Code Coverage"
        assemblyQualifiedName="Coverlet.Collector.DataCollection.CoverletInProcDataCollector, coverlet.collector, Version=3.1.2.0, Culture=neutral, PublicKeyToken=null"
        codebase="coverlet.collector.dll"
        enabled="True"
      />
    </InProcDataCollectors>
  </InProcDataCollectionRunSettings>
</RunSettings>